<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587" userName="mail.solutionnest@gmail.com" password="ghost9990" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <machineKey validationKey="13E9B49208D26C760C6A4B40312CB815E53962E2CB94B11D315AB651BD88221FF3F215781723820FF42A24F81CAE5C1C02DF7B6212801C32870930ED9DD5316D" decryptionKey="D7D182770E18416A5411603A4E5BAD423FF0263C51A40341720E94978CB3EA86" validation="SHA1" decryption="AES" />
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="1048576" />
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="Admin/Default.aspx" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" />
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="3000" maxUrl="1000" maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\mepbddb.mdf;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="mepbddbEntities" connectionString="metadata=res://*/App_Code.mepbddbModel.csdl|res://*/App_Code.mepbddbModel.ssdl|res://*/App_Code.mepbddbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\mepbddb.mdf;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>